DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,192.168.101.242,nightowl.local
DJANGO_CSRF_TRUSTED_ORIGINS=http://192.168.101.242,http://nightowl.local
DJANGO_TIME_ZONE=America/Sao_Paulo

DATABASE_URL=postgres://nightowl:change-me@localhost:5432/nightowl

NIGHTOWL_AGENT_HEARTBEAT_URL=http://192.168.101.242/api/agent/heartbeat/
NIGHTOWL_AGENT_SOURCE_PATH=\\\\192.168.104.120\\controlsul\\Comum\\_Agents
NIGHTOWL_PUBLIC_URL=
NIGHTOWL_TECHNICAL_USERNAMES=gabriel.oliveira
TASK_REMINDER_RECIPIENTS=gabriel.oliveira@controlsul.com.br

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.skymail.net
EMAIL_PORT=587
EMAIL_HOST_USER=naoresponda@controlsul.com.br
EMAIL_HOST_PASSWORD=change-me
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
EMAIL_TIMEOUT=20
DEFAULT_FROM_EMAIL=NightOwl Desk <naoresponda@controlsul.com.br>
SERVER_EMAIL=NightOwl <naoresponda@controlsul.com.br>

INBOUND_EMAIL_ENABLED=False
INBOUND_EMAIL_HOST=
INBOUND_EMAIL_PORT=993
INBOUND_EMAIL_USER=
INBOUND_EMAIL_PASSWORD=change-me
INBOUND_EMAIL_USE_SSL=True
INBOUND_EMAIL_FOLDER=INBOX
INBOUND_EMAIL_PROCESSED_FOLDER=NightOwl/Processed
INBOUND_EMAIL_ERROR_FOLDER=NightOwl/Error
INBOUND_EMAIL_TIMEOUT=30

AD_AUTH_ENABLED=False
AD_SERVER_URI=ldap://192.168.104.2
AD_DOMAIN=control.local
AD_REALM=CONTROL.LOCAL
AD_BIND_DN=
AD_BIND_PASSWORD=change-me
AD_USER_SEARCH_BASE=OU=USUARIOS,DC=control,DC=local
AD_GROUP_SEARCH_BASE=OU=GRUPOS,DC=control,DC=local
AD_USER_ATTR=sAMAccountName
AD_EMAIL_ATTR=mail
AD_FIRST_NAME_ATTR=givenName
AD_LAST_NAME_ATTR=sn
AD_REQUIRE_TLS=False
AD_ADMIN_GROUP=
AD_TECH_GROUP=
AD_TIMEOUT=8
ACCESS_INVENTORY_ALLOWED_OUS=OU=USUARIOS,OU=SOCIOS
