DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,192.168.101.242,nightowl.local
DJANGO_CSRF_TRUSTED_ORIGINS=http://192.168.101.242,http://nightowl.local
DJANGO_TIME_ZONE=America/Sao_Paulo

DATABASE_URL=postgres://nightowl:change-me@localhost:5432/nightowl

NIGHTOWL_AGENT_HEARTBEAT_URL=http://192.168.101.242/api/agent/heartbeat/
NIGHTOWL_AGENT_SOURCE_PATH=\\\\192.168.104.120\\controlsul\\Comum\\_Agents
